<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    
    <%- include('../partials/header'); %>

    <h2 class="producto-nombre">Notebook Lenovo </h2>

    <article class="producto-inicio">
        <img src="/images/img-macbook-pro-2019.jpg" alt="producto-pc">
        </div>
        <div class="icono-corazon">
          <i class="fas fa-regular fa-heart"></i>
        </div>
  
        <div class="producto-iconos">
          <p>$230.000</p>
          <form class="Agregar" action="/productCart" method="get">
            <button class="Agregar" type="submit">Agregar al carrito</button>
          </form>
          <div class="iconos">
            <p><i class="fas fa-solid fa-check"></i>STOCK EN LA WEB </p>
            <p><i class="fas fa-solid fa-check"></i>STOCK EN EL LOCAL</p>
            <p><i class="fas fa-solid fa-store"></i>RETIRO ¡GRATIS!</p>
            <p><i class="fas fa-solid fa-truck"></i>ENVIO</p>
          </div>
    </article>
  
    </div>
  
    <h4 class="producto-linea">Especificaciones del producto</h4>
  
    <section class=" producto-especificaciones">
  
  
  
      <article class="producto-caracteristica">
        <h6>Microprocesador</h6>
        <p>Modelo: AMD Ryzen 5 4600G</p>
        <p>Nucleos: 6</p>
        <p>Hilos: 12</p>
        <p> Frecuencia: 4.2Ghz </p>
      </article>
  
      <article class="producto-caracteristica">
        <h6>Motherboard</h6>
        <p>Chipset: A320</p>
      </article>
  
      <article class="producto-caracteristica">
        <h6>Almacenamiento</h6>
        <p>Certificacion : 80 Plus Bronze</p>
        <p>Watts Reales: 500 W</p>
      </article>
  
      <article class="producto-caracteristica">
        <h6>Memoria Ram</h6>
        <p>Tamaño De Memoria: 2 X 8 GB 3200 Mhz</p>
      </article>
  
      </article>
      <article class="producto-caracteristica">
        <h6>Gabinete</h6>
        <p>Modelo:Xigmatek Infinity 1F - Fixed RGB </p>
        <p>Form Factor: Mid Tower </p>
      </article>
  
      </article>
      <article class="producto-caracteristica">
        <h6>Sistema Operativo</h6>
        <p>Incluye:Si </p>
        <p>Tipo: Mid Tower: Windows 10 Home (Version De Prueba)</p>
      </article>
    </section>
   
     <h4 class="producto-recomendado-titulo"> <span class="linea"></span>Productos recomendados<span class="linea"></span></h4>
    
  
     <div class="contenedor-main">
        <% productos.forEach(function(p){ %>
            <%- include('../partials/tarjetasProductosHomeDetalle', {producto: p}); %>
        <% }); %>
      </div>
      
      <%- include('../partials/footer'); %>
    
  </body>
  
  </html>