<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
  <body>
    <%- include('../partials/header'); %>
      <main>
        <script>
          function changeMainImage(image) {
            var mainImage = document.getElementById('main-image');
            mainImage.src = image.src
          }
        </script>

        <div class="producto-container">
          <div class="icono-corazon">
            <i class="fas fa-regular fa-heart"></i>
          </div>
          <img id="main-image" class="image-main" src="images\detalleProducto\Notebook1.jpeg" alt="Imagen Principal">
          <div class="image-list">

            <div class="icono-corazon">
              <a href="productWhisList"> <i class="fas fa-regular fa-heart"></i></a>
              </form>
            </div>
            <img src="\images\detalleProducto\Notebook2.jpeg" alt="Imagen 2" onmouseover="changeMainImage(this)">
            <img src="\images\detalleProducto\Notebook3.jpeg" alt="Imagen 3" onmouseover="changeMainImage(this)">
            <img src="\images\detalleProducto\Notebook4.jpeg" alt="Imagen 4" onmouseover="changeMainImage(this)">
          </div>
          <div class="producto-iconos">

            <h1>Notebook Lenovo </h1>
            <h2>$230.000</h2>
            <form class="Agregar" action="/productCart" method="get">
              <button class="Agregar" type="submit">Agregar al carrito</button>
            </form>

            <p><i class="fas fa-solid fa-check"></i>STOCK EN LA WEB </p>
            <p><i class="fas fa-solid fa-check"></i>STOCK EN EL LOCAL</p>
            <p><i class="fas fa-solid fa-store"></i>RETIRO ¡GRATIS!</p>
            <p><i class="fas fa-solid fa-truck"></i>ENVIO</p>
          </div>
        </div>

        <h3 class="producto-linea">Especificaciones del producto</h3>
        <section class=" producto-especificaciones">
          <article class="producto-caracteristica">
            <h4>Microprocesador</h4>
            <p>Modelo: AMD Ryzen 5 4600G</p>
            <p>Nucleos: 6</p>
            <p>Hilos: 12</p>
            <p> Frecuencia: 4.2Ghz </p>
          </article>

          <article class="producto-caracteristica">
            <h4>Motherboard</h4>
            <p>Chipset: A320</p>
          </article>

          <article class="producto-caracteristica">
            <h4>Almacenamiento</h4>
            <p>Certificacion : 80 Plus Bronze</p>
            <p>Watts Reales: 500 W</p>
          </article>

          <article class="producto-caracteristica">
            <h4>Memoria Ram</h4>
            <p>Tamaño De Memoria: 2 X 8 GB 3200 Mhz</p>
          </article>

          </article>
          <article class="producto-caracteristica">
            <h4>Gabinete</h4>
            <p>Modelo:Xigmatek Infinity 1F - Fixed RGB </p>
            <p>Form Factor: Mid Tower </p>
          </article>

          </article>
          <article class="producto-caracteristica">
            <h4>Sistema Operativo</h4>
            <p>Incluye:Si </p>
            <p>Tipo: Mid Tower: Windows 10 Home (Version De Prueba)</p>
          </article>
        </section>

        <h4 class="producto-recomendado-titulo"> <span class="linea"></span>Productos recomendados<span
            class="linea"></span></h4>
        <div class="contenedor-main">
          <% productos.forEach(function(p){ %>
            <%- include('../partials/tarjetasProductosHomeDetalle', {producto: p}); %>
          <% }); %>
        </div>
      </main>
      <%- include('../partials/footer'); %>
  </body>

</html>