<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fontawesome.com/icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href='css\styles-product.css'>
</head>
<body>
    
    <script src='/js/javascript.js'></script>
    <header>
      <div class="header-container">
            <a class="header-image-container" href="/">
              <img class="header-img" src="images/favicon.ico" alt="Custom tech">
              <p>CUSTOMTECH</p>
            </a>
          <div class="search">
              <i class="fa-solid fa-magnifying-glass"></i>
              <input type="text" placeholder="Buscar..." class="header-search-input"  >
          </div>
          <nav>
              <ul>
                  <li><a href="login"><i class="fa-solid fa-user"></i></a></li>
                  <li><a href="productWhisList"> <i class="fa-solid fa-heart"></i></a></li>
                  <li><a href="productCart"> <i class="fa-solid fa-cart-shopping"></i></a></li>
              </ul>
          </nav>
          <div class="burger-menu">
              <i class="fa-solid fa-bars"></i>
          </div>
      </div>
      <section class="header-categories">
          <h4>Categorias <i class="fa-solid fa-chevron-down"></i> </h4>
      </section>
  </header>



    <h2 class="producto-nombre">PC Gamer Armada Completa AMD Ryzen 5 4600G 16GB SSD 480GB </h2>

    <article class="producto-inicio">
        <img src="\images\157-PC-Armada-Prod_800.jpg" alt="producto-pc">
        </div>
        <div class="icono-corazon">
          <i class="fas fa-regular fa-heart"></i>
        </div>
  
        <div class="producto-iconos">
          <p>$246.974,24</p>
          <form class="Agregar" action="/productCart" method="get">
            <button class="Agregar" type="submit">Agregar al carrito</button>
          </form>
          <div class="iconos">
            <p><i class="fas fa-solid fa-check"></i>STOCK EN LA WEB </p>
            <p><i class="fas fa-solid fa-check"></i>STOCK EN EL LOCAL</p>
            <p><i class="fas fa-solid fa-store"></i>RETIRO ¡GRATIS!</p>
            <p><i class="fas fa-solid fa-truck"></i>ENVIO</p>
          </div>
    </article>
  
    </div>
  
    <h4 class="producto-linea">Especificaciones del producto</h4>
  
    <section class=" producto-especificaciones">
  
  
  
      <article class="producto-caracteristica">
        <h6>Microprocesador</h6>
        <p>Modelo: AMD Ryzen 5 4600G</p>
        <p>Nucleos: 6</p>
        <p>Hilos: 12</p>
        <p> Frecuencia: 4.2Ghz </p>
      </article>
  
      <article class="producto-caracteristica">
        <h6>Motherboard</h6>
        <p>Chipset: A320</p>
      </article>
  
      <article class="producto-caracteristica">
        <h6>Almacenamiento</h6>
        <p>Certificacion : 80 Plus Bronze</p>
        <p>Watts Reales: 500 W</p>
      </article>
  
      <article class="producto-caracteristica">
        <h6>Memoria Ram</h6>
        <p>Tamaño De Memoria: 2 X 8 GB 3200 Mhz</p>
      </article>
  
      </article>
      <article class="producto-caracteristica">
        <h6>Gabinete</h6>
        <p>Modelo:Xigmatek Infinity 1F - Fixed RGB </p>
        <p>Form Factor: Mid Tower </p>
      </article>
  
      </article>
      <article class="producto-caracteristica">
        <h6>Sistema Operativo</h6>
        <p>Incluye:Si </p>
        <p>Tipo: Mid Tower: Windows 10 Home (Version De Prueba)</p>
      </article>
    </section>
   
     <h4 class="producto-recomendado-titulo"> <span class="linea"></span>Productos recomendados<span class="linea"></span></h4>
    
  
    <section class="producto-recomendado">
      <article class="productos-item">
        <img src="\images\auricular.jpg" \images\auricular.jpg alt="Auricular">
        <p>Auricular Logitech G335 Gaming Mint</p>
        <h2>$24.84652</h2>
  
      </article>
      <article class="productos-item">
        <img src="\images\Joystick.jpg" alt="Joystick">
        <p>Joystick Genesis P65 USB PC/PS3</p>
        <h2>$18.08339 </h2>
  
      </article>
      <article class="productos-item">
        <img src="\images\teclado.jpg" alt="teclado">
        <p>Teclado Mecanico Redragon Draconic K530 White RGB Inalambrico Outemu Brown</p>
        <h2>$24.69240</h2>
  
      </article>
      <article class="productos-item">
        <img src="\images\Mouse.jpg" alt="Mouse">
        <p>Mouse Logitech M317C - Golden Garden</p>
        <h2>$10.52128</h2>
  
      </article>
  
    </section>
    
    <footer>
      <section>
          <div class="columnaUno">
              <a class="header-image-container" href="/">
                  <img class="header-img" src="images/favicon.ico" alt="Custom tech">
                  <h4>CUSTOMTECH</h4>
              </a>
            
              <p>Av.San Martín 1234 Caballito</p>
              <li>
                  <a href="">info@customtech.com.ar</a><!--la idea podria ser utilizarlo como hipervinculo para redirigir a el mail-->       
              </li>
              
              <div>
                  <i class="fa-brands fa-whatsapp"></i><p>+54-1234-5678</p>
                  <i class="fa-brands fa-square-instagram"></i><i class="fa-brands fa-facebook"></i><i class="fa-brands fa-twitter"></i>
              </div>
          </div>
          
          <div class="columnaDos">
              <h4>HORARIOS</h4>
              <p>Lunes a Viernes</p>
              <P>09:00 - 17.00hs</P>
              <P>Sabados</P>
              <p>10:00 - 14:00hs</P>
          </div>
  
  
          <div class="buscador">
              <div class="buscadorImput">
                  <input class="imput" type="text" name="Ingresa tu email" placeholder="Ingresa tu email"><i class="fa fa-search"></i>
              </div>
              <div>
                  <p class="novedades">RECIBIR NOVEDADES</p>
              </div>

          </div>
          
  
          <div class="columnaCuatro">
              <ul>
                  <li>
                      <a href=""><h4>AYUDA</h4></a>
                  </li>
              </ul>
              <ul>
                  <li>
                      <a href="">Preguntas frecuentes</a>
                  </li>
              </ul>
              <ul>
                  <li>
                      <a href="">Garantía</a>
                  </li>
              </ul>
              <ul>
                  <li>
                      <a href="">Defensa y derechos del consumidor</a>
                  </li>
              </ul>
          </div>
      </section>
  
      <div>
          <p>© 2023 CUSTOMTECH. Todos los derechos reservados. Imprimir PáginaPrivacidad Mapa del Sitio Términos de uso</p>
      </div>
  
  </footer>
    
  </body>
  
  </html>