main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}


.bloqueSignup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 80vw;
    text-align: center;
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 40px;
    box-shadow: 0px 0px 15px rgb(194, 21, 86, 0.9);
}


.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon-register i {
    font-size: 25vw;
    color: #c21556;
    margin-top: 5%;
}

.redes {
    display: flex;
    column-gap: 4vw;
}

.redes i {
    font-size: 20px;
    justify-content: space-around;
    color: #c21556;
}

form div {
    margin-bottom: 10px;
    border-radius: 5%;
    margin-top: 2%;
}

.text-field {
    padding: 10%;
    border-radius: 5px;
    padding: 5%;
    width: 50vw;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(121, 121, 121, 0.38);
    border: 0;
}


.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 2vh;
}

.botonSubmit {
    background-color: #c21556;
    color: aliceblue;
    padding: 8%;
    border: 0;
    width: 50vw;
    border-radius: 25px;
    font-size: 5vw;
}

.bloqueLogin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 1vh;
}

.bloqueLogin legend {
    color: #c21556;
    font-size: 4vw;
    font-weight: bold;
}

.botonLogin {
    background-color: #c21556;
    color: aliceblue;
    padding: 3%;
    border: 0;
    width: 50vw;
    border-radius: 25px;
    font-size: 5vw;
}

.cuadrOr{
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-or{
    background-color: #c21556;
    color: aliceblue;
    padding: 2%;
    border: 0;
    width: 5vw;
    border-radius: 10px;
    font-size: 2vw;
}

canvas {
    width: 79vw;
    height: 0px;
    bottom: 45%;
    border: .5px solid #c21556;
}





@media (min-width: 361px) {

    .icon-register i {
        font-size: 100px;
    }

    .botonSubmit,
    .botonLogin {
        width: 220px;
        font-size: 18px;
    }

    .top-header {
        display: flex;
        flex-wrap: nowrap;
        padding: 5%;
        width: 90%;
        height: 100%;
        align-items: center;
    }

    header nav {
        justify-content: space-between;
    }

    .text-field {
        padding: 10%;
        border-radius: 5px;
        border: 0;
        padding: 2.5%;
        width: 28vw;
    }

    canvas {
        width: 49vw;
    }

    .bloqueSignup {
        min-width: 320px;
        width: 50vw;
    }

    .bloqueLogin legend {
        font-size: 18px;
    }

    
    .label-or {
        padding: 2%;
        border-radius: 5px;
        font-size: 14px;
    }

    .register-or{
        max-width: 5vw;
    }

    canvas {
        width: 49vw;
        min-width: 314px;
        height: 0px;
        bottom: 47.5%;
        border: .5px solid #c21556;
    }
}