body {
  margin: 10px;
  background-color: white;
  font-family: 'Play', sans-serif;
}

.producto-nombre{
 font-size: xx-large;
padding-top: 5%;
}
.producto-inicio{
  display:flex;
  padding-bottom:  5%;
  padding-top: 0%;
  padding-left: 0%;
  padding-right: 0%;
  margin:5%;
 }
.producto-inicio img {
    max-width: 600px;
    height: auto;
    border:1px;
}
.producto-iconos p{
  font-size:xx-large;
 }
.producto-iconos{
  font-size:x-large;
  text-align:right;
  width: 40%;
 }
.producto-iconos button {
    width: 250px;
    height: 50px;
    font-size: 16px;
    border-radius: 5px;
    color: black;
    text-align: center;
    padding-left: 20px;
}
.icono-corazon{
  font-size: 30px;
  padding:1%;
  color:#ebebeb;
}
.icono-corazon:hover{
  color:rgb(	235, 235, 235,0.5)
}

.producto-especificaciones{
  display:flex;
  flex-wrap: wrap;
  background-color:none;
  padding: 5%;
  margin:5%;
 

}
.producto-caracteristica{
  display: inline-block;
  width: 30%; 
  box-sizing: border-box;
  padding: 10px;
  flex-grow: 1;
  margin-bottom: 10px;
 
}
/**/
.producto-linea{
  font-size:x-large;
  text-align: center;
  border-bottom: 1px dashed #ebebeb;
 
 }
 .producto-caracteristica h6{
  border-bottom: 2px solid black;
  font-size: large;
 
}


 /*producto-recomendado*/
  
 .producto-recomendado{
  display: flex;
  background-color:none;
  padding: 5%;
  margin:5%;
  border-color: black;
 }
  .producto-recomendado-titulo{
    text-align: center;
    font-size:xx-large;
   
   
    }
  
    .linea {
      display: inline-block;
      border-top: 1px solid black;
      width: 30%;
      margin: 0 10px;
      vertical-align: middle;
    }
 .productos-item img{
    max-width: 200px ;
    height: auto;
  }
  
  .productos-item {
    display: inline-block;
    width: 50%; 
    box-sizing: border-box;
    padding: 10px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 10px 5px 5px #ebebeb;
  
  }
  .productos-item:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);

  }

  @media(max-width: 769px){
    .producto-caracteristica{
      display: flex;
      flex-direction: column;
       width: 100%; 
      box-sizing: border-box;
      flex-grow: 1;
      margin-bottom: 10px;
     
    }
    .linea {
      display: inline-block;
      border-top: 1px solid black;
      width: 5%;
      margin: 0 5px;
      vertical-align: middle;
    }
   
    .productos-item img{
      max-width: 100px ;
      height: auto;
    }
    .productos-item {
      flex-direction: column;
      width: 100%; 
      box-sizing: border-box;
      text-align: center;
    }
  }    
  
  
  