
main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}

.bloqueLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 70vw;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 10%;
    box-shadow: 0px 0px 15px rgb(194, 21, 86 , 0.9);
}


.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon-register i {
    font-size: 100px;
    color: #c21556;
    margin-top: 30%;
}

.redes i{
    font-size: 20px;
    justify-content: space-around;
    color: #c21556;
}

form div {
    margin-bottom: 10px;
    border-radius: 5%;
    margin-top: 2%;
}

.text-field {
    padding: 10%;
    border-radius: 5px;
    padding: 5%;
    width: 60vw;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(121, 121, 121, 0.38);
    border: 0;
}

.remembforgot{
    flex-direction: row;
}

.register-or {
    border-radius: 10px;
    padding: 1%;
    background-color:#c21556;
    color: aliceblue;
    text-align: center;
    position: relative;
}

.label-or {
    padding: 2%;
    border-radius:5px ;
}

.botonSubmit{
background-color: #c21556;
color: aliceblue;
padding: 8%;
border: 0;
border-radius: 10px;
font-size: 15px;
}

.bloqueSignup{
    margin-top: 18%;
}

.bloqueLogin h4{
color: #c21556;
}

.botonSignup{
background-color: #c21556;
color: aliceblue;
padding: 8%;
border: 0;
margin-bottom: 10%;
border-radius: 10px;
text-decoration: none;
}



@media (min-width: 361px) {

.top-header {
display: flex;
flex-wrap: nowrap;
padding: 5%;
width: 90%;
height: 100%;
align-items: center;
}

header nav {
  justify-content: space-between;
}

.text-field {
    padding: 10%;
    border-radius: 5px;
    border: 0;
    padding: 2.5%;
    width: 60vw;
}

.bloqueLogin{
    height: 120vh;
    width: 80vw;
}

}
