.login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    /* background-image: url("../images/wallpaper3.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
}

.bloqueLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
    width: 80vw;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: #eee;
    border-radius: 40px;
    margin-top: 80px;
    margin-bottom: 10%;
}


.form-login {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon-register i {
    font-size: 25vw;
    /*color: #c21556;*/
    color: #4B011D;
}

.redes {
    display: flex;
    column-gap: 4vw;
}

.redes i {
    font-size: 20px;
    justify-content: space-around;
    /*color: #c21556;*/
    color: #4B011D ;
}

form div {
    margin-bottom: 10px;
    border-radius: 5%;
    margin-top: 2%;
}

.text-field {
    padding: 5%;
    border-radius: 5px;
    width: 50vw;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(121, 121, 121, 0.38);
    border: 0;
}

.login-recordar {
    display: flex;
    margin-bottom: 6vh;
    column-gap: 3vw;
    align-items: center;
}

.login-recordar legend {
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 8vh;
    color: #4B011D;
  }


.recordarme {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 1vw;
}

.cuadrOr{
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-or {
    border-radius: 10px;
    padding: 2%;
    /*background-color: #c21556;
    color: aliceblue;*/
    background-color: #4B011D;
    color: aliceblue;
    text-align: center;
    position: absolute;
    width: 9vw;
    bottom: 41%;
}

.label-or {
    padding: 2%;
    border-radius: 5px;
    font-size: 4vw;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 2vh;
    margin-top: 50px ;
}



.botonSubmit {
    /*background-color: #c21556;*/
    background-color: #4B011D;
    color: aliceblue;
    padding: 3%;
    border: 0;
    width: 50vw;
    border-radius: 25px;
    font-size: 5vw;
}

.bloqueSignup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 1vh;
}

.bloqueSignup legend {
   /* color: #c21556;*/
   color: #4B011D;
    font-size: 4vw;
    font-weight: bold;
}

.botonSignup {
    /*background-color: #c21556;*/
    background-color: #4B011D;
    color: aliceblue;
    padding: 3%;
    border: 0;
    width: 50vw;
    border-radius: 25px;
    font-size: 5vw;
}

.cuadrOr{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -10px;
}

canvas {
    position: relative;
    top: -40px;
    width: 79vw;
    height: 0px;
    bottom: 45%;
    /*border: .5px solid #c21556;*/
    border: .5px solid #fff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    /*background-color: #c21556;*/
    background-color: #4B011D;
}

input:focus+.slider {
    /*box-shadow: 0 0 1px #c21556;*/
    box-shadow: 0 0 1px #4B011D;
}

input:checked+.slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media (min-width: 361px) {

    .login-recordar legend {
        font-size: 2.2vw;
      }

    .icon-register i {
        font-size: 100px;
    }

    .botonSubmit,
    .botonSignup {
        width: 220px;
        font-size: 18px;
    }

    .top-header {
        display: flex;
        flex-wrap: nowrap;
        padding: 5%;
        width: 90%;
        height: 100%;
        align-items: center;
    }

    header nav {
        justify-content: space-between;
    }

    .text-field {
        padding: 5%;
        border-radius: 5px;
        border: 0;
        width: 40vw;
        max-width: 200px;
    }

    canvas {
        width: 49vw;
    }

    .bloqueLogin {
        height: 75vh;
        min-width: 320px;
        width: 50vw;
    }

    .bloqueSignup legend {
        font-size: 18px;
    }

    
    .label-or {
        padding: 2%;
        border-radius: 5px;
        font-size: 14px;
    }

    .register-or{
        max-width: 5vw;
    }

    canvas {
        width: 49vw;
        min-width: 314px;
        height: 0px;
        bottom: 47.5%;
    }
}

@media (min-width: 769px){

   .login-recordar legend {
        font-size: 1.5vw;
    }

}

 

