header {
    display: flex;
    width: 100vw;
    background-color: #4B011D;
    height: 15vh;
    position: fixed;
    z-index: 1;
    top: 0;
}

.header-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.header-image-container {
    width: 50vw;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.header-image-container h2 {
    color: #fff;
    font-size: 5vw;
    margin: 0;
}


.header-img {
    width: 15vw;
    padding: 5px;
}    

.burger-menu {
    color: #fff;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-menu i {
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 15px;
}


.search {
    display: flex;
    justify-content: center;
    align-items: center;
}    

.search i {
    color: #4B011D;
    margin-right: -25px;
    z-index: 1;
}    

.header-search-input {
    height: 30px;
    width: 100%;
    text-indent: 25px;
    border-radius: 5px;
    border: 1px solid #4B011D;
    margin: 5px;
    color: #4B011D;
}    


.header-nav-container {
    display: none;
}

.header-categories {
    display: none;
}


@media (min-width: 361px) {

    .header-img {
        width: 60px;
    }

    .header-image-container {
        justify-content: center;
    }

    .header-image-container h2 {
        font-size: 20px;
    }

    .burger-menu {
        display: none;
    }

    .header-nav-container {
        display: flex;
    }

    .search {
        width: 50vw;

    }

    .header-search-input {
        width: 150px;
    }

    .header-nav-container ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 200px;
    }

    .header-nav-container li {
        list-style-type: none;
    }

    .header-nav-container li a {
        text-align: center;
        text-decoration: none;
    }

    .header-nav-container i {
        border: 1px solid #fff;
        border-radius: 50%;
        color: #4B011D;
        padding: 10px;
        background-color: #fff;

    }
}

@media (min-width: 769px) {

    header {
        height: 10vh;
    }
    
    .header-image-container {
        width: 30vw;
    }

    .search {
        width: 40vw;
    }

    .header-search-input {
        width: 20vw;
    }

    .header-nav-container {
        width: 30vw;
    }

    .header-nav-container i {
        transition: all 0.4s;
    }

    .header-nav-container i:hover {
        background-color: #4B011D;
        color: #fff;
    }
}