.list-products {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    background-color: #fff;
}


.sub-main{
    /* display: block; */
    background-color: white;
    width: 100%;
    border: solid 1px #ebebeb;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 10px;
    transition: all 450ms;

}

.fa-heart{
    border-radius: 18px;
  }
  
.corazon-wish:hover {
    box-shadow: 0 0 8px rgba(120, 3, 173, 0.5); 
    transition: box-shadow 0.3s ease; 
  }
  

.image-list-container {
    width: 100vw;
    display: flex;
    justify-content: center;

}

.image-list-container  img{ 
    width: 100%;
}

.info-list {
    color: #4F04A3;
    text-align: center;
}

.info-list h2 {
    margin: 5px 0;
    font-size: 15px;
}

.contenedor-botonCarrito{
    display: flex;
    position: bottom;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    background-color: #4F04A3;
    border-radius: 20px;
}

.precio{
    font-size: 18px;
    font-family: 'Play', sans-serif;
    margin-bottom: 15px;
    color: black ;
}

.contenedor-boton-carrito {
    display: flex;
    background-color: #4F04A3;
    width: 200px;
    margin: 10px auto;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;  
    justify-content: center; 
    cursor: pointer;
}

.agregar-carrito {
    background-color: #4F04A3;
    color: #fff;
    border: none;
    cursor: pointer;
}

.contenedor-boton-carrito i{
    color: #fff;
    margin: 5px;

}



@media(min-width: 361px ) {


    .contenedor-boton-carrito {
        width: 150px;
    }

    .list-products {
        margin-top: 20px;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

/*     .sub-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 45%;
        flex-wrap: wrap;
        height: 400px;
        margin: 5px;
    } */
    .sub-main {
        width: 45%;
        flex-wrap: wrap;
        margin: 5px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .sub-main:hover{
        box-shadow: 0px 0px 10px #4F04A3;
    }

    .sub-main:hover .descripciones{
        display: block;
    }

    .info-list {
        font-size: 12px;
        height: 130px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }


    .list-container:hover{
        box-shadow: 0px 0px 10px #4F04A3;
    }

    .image-list-container {
        margin: auto;
        width: 50%;
    }


    .fa-heart {
        margin-left: 8px;
    }

}


@media (min-width: 769px) {
    .list-products {
        margin-top: 100px;

    }

    .sub-main {
        width: 20%;
    }

}