body {
  margin: 10px;
  background-color: white;
  font-family: 'Play', sans-serif;
}


.producto-inicio{
  display:flex;
  padding-bottom:  5%;
  padding-top: 0%;
  padding-left: 0%;
  padding-right: 0%;
  margin:5%;
 }
.producto-inicio img {
    max-width: 600px;
    height: auto;
    border:1px;
    
}
.producto-iconos h1{
font-size: x-large;
text-align: left;
}
.producto-iconos h2{
  font-size: x-large;
  text-align: left;
}
.producto-iconos p{
  font-size:large;
  text-align: left;
 }
 .producto-iconos p i{
  color:rgb(194, 21, 86, 0.9)
 }
.producto-iconos{
  font-size:large;
  text-align:left;
  width: 40%;
  position: relative;
  margin-left:200px ;
  float: right;

 }
.producto-iconos button {
  border: none;
  margin: 0;
  padding: 2vw 2vw;
  margin-bottom: 10px;
  background-color: rgb(194, 21, 86, 0.9);
  color: white;
  border-radius: 20px;
  height: 4vw;
  font-size: 1.5vw;
float: center;
 
}
.icono-corazon{
  font-size: 30px;
  padding:1%;
  color:rgba(240, 227, 232, 0.9);
  position: fixed;
  top: 150px; 
  left: 20px; 
  z-index: 1;
}
.icono-corazon:hover{
  color:rgb(194, 21, 86, 0.9)
}

.producto-especificaciones{
  display:flex;
  flex-wrap: wrap;
  background-color:none;
  padding: 5%;
  margin:5%;
 

}
.producto-caracteristica{
  display: inline-block;
  width: 30%; 
  box-sizing: border-box;
  padding: 10px;
  flex-grow: 1;
  margin-bottom: 10px;
 
}
/**/
.producto-linea{
  padding-top: 20px;
  font-size:x-large;
  text-align: center;
  border-bottom: 1px dashed #ebebeb;
 
 }
 .producto-caracteristica h4{
  border-bottom: 2px solid rgb(194, 21, 86, 0.9);
  font-size: large;
 
}

.producto-caracteristica p{

  font-size: medium;
}


 /*producto-recomendado*/
  
 .producto-recomendado{
  display: flex;
  background-color:none;
  padding: 5%;
  margin:5%;
  border-color: rgb(194, 21, 86, 0.9);
 }
  .producto-recomendado-titulo{
    text-align: center;
    font-size:x-large;
   
   
    }
  
    .linea {
      display: inline-block;
      border-top: 1px solid rgb(194, 21, 86, 0.9);;
      width: 30%;
      margin: 0 10px;
      vertical-align: middle;
    }
    .producto-container {
      display: flex;
      align-items: center;
      position: relative;
      height: 400px;
      min-height: 100vh;
      margin-top: 200px; 
    }
  

  .image-main {
      width: 40%;
      margin-right: 10px;
      float:inline-start;
      transition: all 0.3s ease;
     
  }

  .image-list {
      display: flex;
      flex-direction: column;
      width: 15%;
     
  }

  .image-list img {
      margin-bottom: 10px;
      width: 100%;
      cursor: pointer;
      box-shadow: 0px 0px 15px rgb(194, 21, 86, 0.9);
      
  }

    
  @media(max-width: 769px) {
  
  
    .producto-container {
      display: flex;
      flex-direction: column;
    }

    .image-main {
      width: 100%;
     
    }
    .image-list {
      display:none;
      
    }
  
    .producto-iconos {
      order: 1;
      width:60%;
      margin:0%;

    }
  
  
  
  .producto-especificaciones{
    display:flex;
    flex-wrap: wrap;
    background-color:none;
    
   
  
  }
  .producto-caracteristica{
    display: inline-block;
    width: 50%; 
    box-sizing: border-box;
  
   
}
.producto-caracteristica{
  padding: 20px;
}
.producto-caracteristica h4{
  font-size:medium;
}
.producto-caracteristica p{
  font-size:small;
  }
  }

  .linea{
    display:none;
  }
  .contenedor-main{
   padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  
  
  /*footer*/
  footer{
    text-align: center;
    font-size: 16px;
    background-color: #e9dadac0;
}
    
.sectionFooter{
    width: 100%;
    /* margin-top: 100px; */
}

.columnaUno{
    width: 25%;
}
.columnaUno a{
    text-decoration: none;
    padding-top: 2px;
    padding-bottom: 2px;
}
.columnaUno li{
    list-style-type: none;
}

.buscador{
    width: 35%;
    display: flex;
    align-items: center;
}
.buscador div{
    width: 95%;
}
.buscadorImput{
    text-align: right;
}


footer section div .buscador .imput{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    text-align: right;
}


.novedades{
    color: #1259c3;
    font-size: 14px;
    padding-top: 2%;
    margin: 0;
    padding: 0;
    padding-left: 2px;
    text-align: left;
    width: 100%;
}



footer section div h4{
    color: #666;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 10px;   
}
footer section div p{
    color: #070707;
    font-size: 14px;
    padding-top: 2%;
   padding-bottom: 2px;
    width: 100%;
}



footer section div i{
    color: #1259c3;
    padding-top: 2px;
    padding-bottom: 2px;
}




.columnaDos{
    width: 17%;
}



.columnaCuatro{
    width: 23%;
}
.columnaCuatro a{
    text-decoration: none;
    
}
.columnaCuatro ul{
    list-style-type: none;
    
}
.columnaCuatro li{
    padding-top: 3px;
    padding-bottom: 3px;
}

footer div{
    margin-top: 5px;
    margin-bottom: 3px;
}

    
@media(min-width: 361px){
   
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

}

@media(min-width: 769px){  
    footer section{
        display: flex;
        justify-content: space-around;
    }


}


/*header*/
header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #4B011D;
  color: #fff;
  box-shadow: 0px -34px 3px 40px rgba(0,0,0,0.38);
  top: 0;
  left: 0;
  z-index: 1;
}

header a {
  text-decoration: none;
}

header .header-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5px;
  padding: 5px 0;
}

header  .header-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-container p {
  font-size: 15px;
}

nav {
  width: 30vw;
  display: none;
}


nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}




header .header-container a {
  display: flex;
  align-items: center;
  color: #fff;
}

.header-img {
  width: 30px;
}

.header-img-container h3 {
  padding: 5px;
  font-size: 15px;
}

.search {
  display: flex;
  align-items: center;
}

.search i {
  color: #4B011D;
  margin-right: -20px;
  z-index: 1;
}

.header-search-input {
  width: 100%;
  border: 1px solid #666;
  border-radius: 10px;
  text-indent: 20px;
  padding: 3px 0;
}

.burger-menu {
  background-color: #000;
  padding: 5px;
  border-radius: 5px;
}


.header-categories {
  display: flex;
  justify-content: start;
  border-top: 1px solid #fff;
  padding: 10px 5px;
}

.header-categories h4 {
  font-size: 15px;
  margin: 0;
}


.header-categories i {
  font-size: 10px;
}


@media (min-width: 361px ) {
  .header-image-container {
      width: 30vw;
  }



 .header-img {
      width: 35px;
      padding-left: 5px;
 }

 .search {
  width: 40vw;
  text-align: center;
  justify-content: center;
 }

 .header-search-input {
  width: 20vw;
 }

 .header-categories {
  padding: 10px;
 }

 .header-categories h4 {
  margin: 0;
 }

 .burger-menu {
  display: none;
 }

 nav {
  display: flex;
 }

 nav ul {
  width: 30vw;
 }
 

}


@media (min-width:769px) {
  

  .header-img {
      width: 50px;
  }

  header {
      height: 100px;
  }
 
}



.contenedor-main{
  max-width: 1200px;
  width: 100vw;
  padding: 15px;
  margin: auto;
  margin-top: -4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sub-main{
  display: block;
  background-color: white;
  width: 100%;
  border: solid 1px #ebebeb;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 10px;
  transition: all 450ms;
}
.sub-main-descripcion{
  position: relative;
  padding: 0 15px 0 15px;
  text-align: center;
}
.productos {
  width: 100%;
  border-bottom: solid 1px #ebebeb;
  margin: auto;
  border-radius: 10px;
  transition: all 450ms;
}
.cuerpos-de-texto {
  font-size: 12px;
  color: #666;
  text-align: center;
}
.titulares {
  font-size: 24px;
  width: 95%;
  color: #666;
}
.precios{
  font-size: 18px;
  margin-bottom: 15px;
}
.descuentos {
  font-size: 18px;
  color: #39b54a;
  font-style: normal;
  margin-left: 10%;
}
.descripciones{
  font-size: 16px;
  margin-bottom: 15px;
  color: #666;
  transition: all 450ms;
}
.destacado {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  width: 100%;
}
.heart {
  display: block;
  font-size: 16px;
  color: #39b54a;
  border: solid 1px #39b54a;
  padding: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #FFF;
  position: absolute;
  right: 20px;
  top: -53px;
  transition: all 450ms;
}


@media(min-width: 769px){
  .sub-main {
      width: 20%;
  }
  .destacado {
      font-size: 18px;
  }
}

@media(min-width: 361px){
  .destacado {
      text-align: right;
      width: 30%;
      font-size: 11px;
  }
  .sub-main {
      width: 23%;
  }
  .sub-main:hover{
      box-shadow: 0px 0px 10px #C21556;
  }
  .sub-main:hover .descripciones{
      display: block;
  }
  .sub-main:hover .fa-truck{
      box-shadow: 0px 0px 10px #39b54a;
      transform: rotateX(360deg);
  }
  .fa-heart {
      margin-left: 8px;
  }
}

