


.registro {
    background-image: url('../images/wallpaperflare.com_wallpaper.jpg');
    background-size: cover;
}

.form-registro{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

form div {
    margin-bottom: 10px;
    border-radius: 5%;
}

.text-field {
    padding: 5px;
    border-radius: 5%;
}


