<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); %>
<body>

    <%- include('partials/header'); %>

<main class="main-home">
<!-- Carrusel -->
    <div class="slideshow-container">

        <div class="mySlides fade">
          <div class="numbertext"></div>
          <img src="/images/pc-armadas23.webp" style="width:100%">
          <div class="text"></div>
        </div>
      
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br>
      

      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span> 
        <span class="dot" onclick="currentSlide(2)"></span> 
        <span class="dot" onclick="currentSlide(3)"></span> 
      </div>
    <br>
    </div>   

<!-- Fin Carrusel -->

<!-- Inicio de Cajas de Productos -->


<div class="contenedor-main">
  <% productos.forEach(function(p){ %>
      <%- include('partials/tarjetasProductosHomeDetalle', {producto: p}); %>
  <% }); %>
</div>


</main>
<%- include('partials/footer') %>


<!-- <script src="/js/index.js"></script> -->
<script src="/js/header.js" ></script>


</body>
</html>
