<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); %>
<body>

    <%- include('partials/header'); %>

<main class="main-home">
    <!-- Slideshow container -->
<!-- Inicio de Cajas de Productos -->

<div class="contenedor-main">
  <% productos.forEach(function(p){ %>
      <%- include('partials/tarjetasProductosHomeDetalle', {producto: p}); %>
  <% }); %>
</div>

</main>


</body>
</html>
