<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); %>
<body>

    <%- include('partials/header'); %>

<main>
    <!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="/images/pc-armadas23.webp" style="width:100%">
      <div class="text"></div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="/images/asusTuf23.webp" style="width:100%">
      <div class="text"></div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img src="/images/micros23.webp" style="width:100%">
      <div class="text"></div>
    </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>

  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
  </div>
<br>
</div>

<!-- Inicio de Cajas de Productos -->

<div class="contenedor-main">
  <% productos.forEach(function(p){ %>
      <%- include('partials/tarjetasProductosHomeDetalle', {producto: p}); %>
  <% }); %>
</div>

</main>

<%- include('partials/footer'); %>
  <script>
    let slideIndex = 0;
    showSlides();   

    function showSlides() {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none"; 
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1} 
      slides[slideIndex-1].style.display = "block"; 
      setTimeout(showSlides, 3000); // Change image every 2 seconds
    } 
    
    </script>
</body>
</html>