<header>
    <div class="header-container">
          <a class="header-image-container" href="/">
            <img class="header-img" src="images/favicon.ico" alt="Custom tech">
            <p>CUSTOMTECH</p>
          </a>
        <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Buscar..." class="header-search-input"  >
        </div>
        <nav>
            <ul>
                <li><a href="login"><i class="fa-solid fa-user"></i></a></li>
                <li><a href="productWhisList"> <i class="fa-solid fa-heart"></i></a></li>
                <li><a href="productCart"> <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
    <section class="header-categories">
        <h4>Categorias <i class="fa-solid fa-chevron-down"></i> </h4>
    </section>
</header>