<a class="sub-main" href="/products/productDetail/<%= producto.id %>">
    <p class="fa-regular fa-heart"></p>
    <img class=productos src="/images/<%= producto.image %>" alt="Imagen principal">
    <div class="sub-main-descripcion">
    <p class="descripciones"><strong><%= producto.nombre %></strong></p>
    <p class="precios">$<%= producto.precio %></p>
    </div>
</a>