<a class="sub-main" href="/productDetail">
    <p class="fa-regular fa-heart"></p>
    <img class=productos src=<%= producto.imagen %> alt="macbook pro">
    <div class="sub-main-descripcion">
    <p class="descripciones"><strong><%= producto.nombre %></strong></p>
    <p class="precios">$<%= producto.precio %></p>
    </div>
</a>