<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<body>
    <%- include('../partials/header'); %>


    <main class="login">


        <div class="bloqueLogin">

            <form class="form-login" action="/" method="GET">

                <div class="icon-register">
                    <i class="fa-solid fa-circle-user"></i>
                </div>

                <div>
                    <input class="text-field" type="email" name="email" placeholder="E-mail">
                </div>

                <div>
                    <input class="text-field" type="password" name="contrasenia" placeholder="Contraseña">
                </div>

                <div class="login-recordar">
                    <legend class="recordarme">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <label>Recordarme</label>
                    </legend>
                    <legend>¿Olvidaste tu contraseña?</legend>
                </div>
                
                <canvas></canvas>
                <div class="register-or">
                    <label class="label-or">O</label>
                </div>

                <div class="redes">
                    <i class="fa-brands fa-google"></i>
                    <i class="fa-brands fa-facebook"></i>
                </div>

                <div class="buttons">
                    <button class="botonSubmit" type="submit">Ingresar</button>
                    <div class="bloqueSignup">
                        <legend>
                            ¿No tienes cuenta?
                        </legend>

                        <button type="submit" formmethod="get" formaction="/register" class="botonSignup"> 
                            Regístrate
                        </button>
                        
                    </div>

                </div>


            </form>

        </div>

    </main>

    <%- include('../partials/footer'); %>

</body>

</html>