<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <section class="perfil-container">
      <h2 class="perfil-title">
        <%= user.nombreCompleto %>
      </h2>
    </section>

    <%- include('../partials/footer.ejs') %>
</body>
</html>